<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <script>
      function generateUniqueKey(keys) {
        const uniKey = Math.random()
          .toString()
          .slice(2, 12)
        if (!keys.includes(uniKey)) {
          return uniKey
        } else {
          return generateUniqueKey(keys)
        }
      }
    </script>
  </body>
</html>
